# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [68]:

#chrome === chromedriver

#passo a passo 

#passo 1 - abrir o navegador 
#passo 2 - importar a base de dados 
#passo 3 - para cada produto 
#passo 4 - pesquisar o preco do produto 
#passo 5 - atualizar o preco na base de dados 
#passo 6 - comprar ou nao o produto

In [69]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\andre\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\andre\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\andre\anaconda3\lib\site-packages (from selenium) (0.10.0)
Requirement already satisfied: trio~=0.17 in c:\users\andre\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\andre\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sniffio in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\andre\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\andre\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\andre\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\andre\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\andre\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [70]:
from selenium import webdriver

#passo1
navegador = webdriver.Chrome()
navegador.get("https://google.com")

In [71]:
#passo2
import pandas as pd 
tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [72]:
#passo3

for linha in tabela.index:
    produto = tabela.loc[linha,"Produto"]
    print(produto)
    
    produto = produto.replace("ó", "o").replace("ã", "a").replace("ç", "c").replace("é", "e").replace("ú", "u").replace("á", "a")

    link = f"https://www.melhorcambio.com/{produto}-hoje"
    print(link)
    navegador.get(link)

    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "").replace(",", ".")
    print(preco)
    tabela.loc[linha,"Preço Atual"] = float(preco)
    
print("Acabou")
display(tabela)

Milho
https://www.melhorcambio.com/Milho-hoje
85.24
Soja
https://www.melhorcambio.com/Soja-hoje
160.78
Boi
https://www.melhorcambio.com/Boi-hoje
278.90
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
382.63
Algodão
https://www.melhorcambio.com/Algodao-hoje
480.00
Açúcar
https://www.melhorcambio.com/Acucar-hoje
135.68
Café
https://www.melhorcambio.com/Cafe-hoje
1113.46
Ouro
https://www.melhorcambio.com/Ouro-hoje
338.43
Trigo
https://www.melhorcambio.com/Trigo-hoje
1548.70
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
9.05
Acabou

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.24      NaN
1      Soja       163.59       160.78      NaN
2       Boi       282.20       278.90      NaN
3  Petróleo       424.37       382.63      NaN
4   Algodão       497.76       480.00      NaN
5    Açúcar       136.23       135.68      NaN
6      Café      1092.87      1113.46      NaN
7      Ouro       321.77       338.43      NaN
8     Trigo      1549.11      1548.70      NaN
9   Tilápia         9.05         9.05      NaN

In [73]:
#preencher a coluna de comprar 

tabela["Comprar"]= tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

#exportar a base para o excel 

tabela.to_excel("commodities_atualizado.xlsx", index = False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.24     True
1      Soja       163.59       160.78     True
2       Boi       282.20       278.90     True
3  Petróleo       424.37       382.63     True
4   Algodão       497.76       480.00     True
5    Açúcar       136.23       135.68     True
6      Café      1092.87      1113.46    False
7      Ouro       321.77       338.43    False
8     Trigo      1549.11      1548.70     True
9   Tilápia         9.05         9.05    False